@import url(normalize.css);
@import url(https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700,700italic);

body {
    font: 16pt/1.5 'PT Serif', 'Times New Roman', serif;
    margin: 0;
}

header {
    color: white;
    background-color: #303030;
}

header a {
    color: #80c0ff;
}

header a:visited {
    color: #ff80ff;
}

footer {
    border-top: 2px solid #303030;
    padding: 1rem 6rem 6rem;
}

article {
    margin: 1rem 6rem;
    width: 37rem;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    margin: 0;
}

h1 {
    padding: 2rem 6rem 1rem;
    font-size: 3rem;
}

h1 a {
    color: white;
    text-decoration: none;
    border-bottom: 1px solid white;
}

a.partial {
    vertical-align: super;
    font-size: 1rem;
}

h2 {
    font-size: 2.2rem;
}

h3 {
    font-size: 1.7rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.3rem;
}

h6 {
    font-size: 1rem;
}

p, blockquote, ol, ul {
    margin: 1rem 0;
}

p, blockquote {
    text-indent: 2em;
}

footer p {
    text-indent: 0;
}

pre, blockquote {
    padding: 1rem;
    background-color: #dddddd;
}

blockquote {
    font-style: italic;
}

ol, ul {
    text-indent: 0;
    padding: 0;
}

ul {
    list-style-type: square;
}

a.broken {
    color: #c00000;
}

hr {
    height: 0;
    border: 0 solid #303030;
    border-top-width: 2px;
}
