<body class="edit" lang="en">
	<header>
		<h1>
			<TMPL_IF NAME=ID>
			Editing
			<TMPL_ELSE>
			Creating
			</TMPL_IF>
			<a href="<TMPL_VAR NAME=SITE_ROOT>/w/<TMPL_VAR NAME=SLUG ESCAPE=HTML>.html">
				<TMPL_VAR NAME=SLUG ESCAPE=HTML></a>
		</h1>
	</header>
	<article>
	<TMPL_LOOP NAME=ERRORS>
	<p class='error'>Error: <TMPL_VAR NAME=MESSAGE></p>
	</TMPL_LOOP>

    <form method='POST' action="<TMPL_VAR NAME=SITE_ROOT>/e/<TMPL_VAR NAME=SLUG ESCAPE=HTML>">
        <input name='id' type='hidden' value='<TMPL_VAR NAME=ID ESCAPE=HTML>'>
        <TMPL_IF NAME=BASE>
        <input name='base' type='hidden' value='<TMPL_VAR NAME=BASE ESCAPE=HTML>'>
		<div>
			<p>
				<label for='title'>New title:</label>
				<input name='title' type='text'
					   value='<TMPL_VAR NAME=TITLE ESCAPE=HTML>'>
			</p>
			<TMPL_ELSE>
		<div>
			<p><label>Title: <TMPL_VAR NAME=TITLE ESCAPE=HTML></label></p>
			<input name='title' type='hidden'
				   value='<TMPL_VAR NAME=TITLE ESCAPE=HTML>'>
			</TMPL_IF>
			<p>
				<label for='username'>Name:</label>
				<input name='username' type='text'
					   value='<TMPL_VAR NAME=USERNAME ESCAPE=HTML>'>
				<span>editing from <TMPL_VAR NAME=IP ESCAPE=HTML></span>
			</p>
		</div>
		<div>
			<textarea name='content'><TMPL_VAR NAME=CONTENT></textarea>
		</div>
		<div>
			<p>
				<input type='submit' value='Save'>
				<input type='reset' value='Cancel'>
			</p>
		</div>
    </form>
    </article>
</body>
