<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <meta http-equiv="refresh"
              content="1;URL=<TMPL_VAR NAME=SITE_ROOT>/w/<TMPL_VAR NAME=TITLE ESCAPE=HTML>.html">
        <title>Changes saved</title>
        <link rel="stylesheet" href="<TMPL_VAR NAME=SITE_ROOT>/css/reset.css" type="text/css" />
        <link rel="stylesheet" href="<TMPL_VAR NAME=SITE_ROOT>/css/typography.css" type="text/css" />
        <link rel="stylesheet" href="<TMPL_VAR NAME=SITE_ROOT>/css/style.css" type="text/css" />
    </head>
    <body class="editok" lang="en">
        <header>
            <h1>Your changes have been saved.</h1>
        </header>
        <article>
            <p><a href="<TMPL_VAR NAME=SITE_ROOT>/w/<TMPL_VAR NAME=TITLE ESCAPE=HTML>.html">
                    Return to entry.</a></p>
        </article>
    </body>
</html>
