<body class="entry" lang="en">
    <header>
        <h1><a href="<TMPL_VAR NAME=SITE_ROOT>/w/<TMPL_VAR NAME=TITLE ESCAPE=HTML>.links">
            <TMPL_VAR NAME=TITLE ESCAPE=HTML>
        </a></h1>
        <TMPL_INCLUDE NAME="navblock.html">
    </header>
    <article>
        <TMPL_VAR NAME=CONTENT>
    </article>
    <footer>
        <p>
            Last edited by <TMPL_VAR NAME=USERLINK>,
            <span class='date'><TMPL_VAR NAME=EDITED></span>.
        </p>
        <TMPL_INCLUDE NAME="navblock.html">
    </footer>
    <script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
</body>
