<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <title><TMPL_VAR NAME="TITLE"></title>
        <link rel="stylesheet" href="<TMPL_VAR NAME=SITE_ROOT>/reset.css" type="text/css">
        <link rel="stylesheet" href="<TMPL_VAR NAME=SITE_ROOT>/style.css" type="text/css">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Ubuntu+Mono|Ubuntu:400,400italic,500,500italic|Volkhov" type="text/css">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" type="text/css">
    </head>
    <TMPL_VAR NAME="BODY">
</html>
