<nav>
  <ul>
    <li>
      <a href="<TMPL_VAR NAME=SITE_ROOT>/e/<TMPL_VAR NAME=TITLE>">Edit page</a>
    </li>
    <li>
      <a href="<TMPL_VAR NAME=SITE_ROOT>/w/<TMPL_VAR NAME=TITLE>.txt">Text-only version</a>
    </li>
    <li>
      <a href="<TMPL_VAR NAME=SITE_ROOT>/w/<TMPL_VAR NAME=ID>.html">Permalink (latest version)</a>
    </li>
    <li>
      <a href="<TMPL_VAR NAME=SITE_ROOT>/w/<TMPL_VAR NAME=ID>.html?on=<TMPL_VAR NAME=EDITED_TS>">Permalink (this version)</a>
    </li>
    <li>
      <a href="<TMPL_VAR NAME=SITE_ROOT>/w/1.html">Back to home</a>
    </li>
    <li>
      <a href="<TMPL_VAR NAME=SITE_ROOT>/f/<TMPL_VAR NAME=TITLE>.html">Recent page edits</a>
      (<a href="<TMPL_VAR NAME=SITE_ROOT>/f/<TMPL_VAR NAME=ID>.xml">Atom</a>)
    </li>
    <li>
      <a href="<TMPL_VAR NAME=SITE_ROOT>/f/_all.html">Recent site edits</a>
      (<a href="<TMPL_VAR NAME=SITE_ROOT>/f/_all.xml">Atom</a>)
    </li>
  </ul>
</nav>
