<head>
  <TMPL_INCLUDE NAME="headerblock.html">
</head>
<body class="recent" lang="en">
  <header>
    <h1>Recent edits to
      <a href="<TMPL_VAR NAME=SITE_ROOT>/w/<TMPL_VAR NAME=TITLE>.html">
        <TMPL_VAR NAME=TITLE></a></h1>
    <TMPL_INCLUDE NAME="navblock_recent.html">
  </header>
  <article>
    <ol><TMPL_LOOP NAME=EDITS>
      <li>
        <a href="<TMPL_VAR NAME=SITE_ROOT>/w/<TMPL_VAR NAME=TITLE ESCAPE=HTML>.html">
          <TMPL_VAR NAME=TITLE ESCAPE=HTML></a>
        by <TMPL_VAR NAME=USER_LINK>,
        <a href="<TMPL_VAR NAME=SITE_ROOT>/w/<TMPL_VAR NAME=TITLE ESCAPE=HTML>.html?on=<TMPL_VAR NAME=EDITED>"
           class="date"><TMPL_VAR NAME=FORMATTED_TIME></a>
      </li>
    </TMPL_LOOP></ol>
  </article>
  <footer>
    <TMPL_INCLUDE NAME="navblock_recent.html">
  </footer>
</body>
