html,
body {
  height: 100%;
}

body {
  margin: 0;
}

header {
  color: white;
  background-color: #303030;
}

header a {
  color: #80c0ff;
}

header a:visited {
  color: #ff80ff;
}

footer {
  border-top: 2px solid #303030;
  padding: 1rem 6rem 6rem;
}

article {
  margin: 1rem 6rem;
  width: 37rem;
}

h1 a {
  color: white;
  text-decoration: none;
  border-bottom: 1px solid white;
}

a.partial {
  vertical-align: super;
  font-size: 50%;
}

p, blockquote {
  text-indent: 2em;
}

p.error {
  color: red;
}

footer p {
  text-indent: 0;
}

pre, blockquote, code {
  background-color: #dddddd;
}

ul {
  list-style-type: square;
}

img.tripicon {
  vertical-align: middle;
  margin: 2px;
}

hr {
  height: 0;
  border: 0 solid #303030;
  border-top-width: 2px;
}

h2 {
  border-color: #666;
}

header {
  padding: 2rem;
  padding-bottom: 3rem;
}

header h1 {
  margin: 0;
}

header nav {
  display: none;
}

/*
 * styling for /e/ pages
 */

body.edit {
  display: flex;
  flex-flow: column;
  height: 100%;
}

body.edit article {
  margin: 1rem 0;
  flex-grow: 1;
}

body.edit form {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-flow: column;
}

body.edit form * {
  text-indent: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body.edit form div {
  padding: 0 2em;
}

body.edit form div:nth-of-type(1) {
  display: flex;
  flex-flow: row;
}

body.edit form div:nth-of-type(1) p {
  flex-grow: 1;
}

body.edit form div:nth-of-type(1) span {
  display: block;
  color: #666;
  font-size: 60%;
  font-style: italic;
  float: right;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

body.edit form div:nth-of-type(2) {
  flex-grow: 1;
}

body.edit form div:nth-of-type(3) {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

body.edit form label {
  display: block;
  font-size: 150%;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

body.edit form input[type='text'] {
  display: block;
  width: 95%;
  padding: 0.5em 0.25em;
  font-family: inherit;
}

body.edit form label[for='username'],
body.edit form input[name='username'] {
  margin-left: 5%;
}

body.edit form textarea {
  width: 100%;
  height: 100%;
  padding: 0.5em 0.25em;
  font-family: inherit;
}

body.edit form input[type='submit'],
body.edit form input[type='reset'] {
  font-size: 150%;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  padding: 0.25em 0.5em;
  float: right;
  margin-left: 0.25em;
  width: 4em;
}

