<header>
    <h1><a href="<TMPL_VAR NAME=SITE_ROOT>/<TMPL_VAR NAME=TITLE ESCAPE=HTML>.links">
        <TMPL_VAR NAME=TITLE ESCAPE=HTML>
    </a></h1>
</header>
<article>
    <TMPL_VAR NAME=CONTENT>
</article>
<footer>
    <p>
        Last edited
        by <TMPL_VAR NAME=USERLINK>
        on <span class='date'><TMPL_VAR NAME=EDITED></span>.
    </p>
    <nav>
        <ul>
            <li><a href="<TMPL_VAR NAME=SITE_ROOT>/<TMPL_VAR NAME=TITLE ESCAPE=HTML>.edit">
                Edit this page</a></li>
            <li><a href="<TMPL_VAR NAME=SITE_ROOT>/<TMPL_VAR NAME=TITLE ESCAPE=HTML>.txt">
                Text-only version</a></li>
            <li><a href="<TMPL_VAR NAME=SITE_ROOT>/<TMPL_VAR NAME=ID>.html">Permalink</a></li>
            <li><a href="<TMPL_VAR NAME=SITE_ROOT>/1.html">Back to home</a></li>
            <li><a href="<TMPL_VAR NAME=SITE_ROOT>/_recent">Recent edits</a></li>
        </ul>
    </nav>
</footer>
