/* font size scale modified from: http://typecast.com/images/uploads/modernscale.css */
/* originally made by Jason Pamental */

body, caption, th, td, input, textarea, select, option, legend, fieldset, h1, h2, h3, h4, h5, h6 {
  font-size-adjust: 0.5;
}

article {
  font-size: 1em;
  /* equivalent to 16px */
  line-height: 1.25;
  /* equivalent to 20px */
}

@media (min-width: 43.75em) {
  article {
    font-size: 1em;
    /* equivalent to 16px */
    line-height: 1.375;
    /* equivalent to 22px */
  }
}

h1 {
  font-size: 2em;
  /* 2x body copy size = 32px */
  line-height: 1.25;
  /* 45px / 36px */
}

@media (min-width: 43.75em) {
  h1 {
    font-size: 2.5em;
    /* 2.5x body copy size = 40px */
    line-height: 1.125;
  }
}

@media (min-width: 56.25em) {
  h1 {
    font-size: 3em;
    /* 3x body copy size = 48px */
    line-height: 1.05;
    /* keep to a multiple of the 20px line height and something more appropriate for display headings */
  }
}

h2 {
  font-size: 1.625em;
  /* 1.625x body copy size = 26px */
  line-height: 1.15384615;
  /* 30px / 26px */
}

@media (min-width: 43.75em) {
  h2 {
    font-size: 2em;
    /* 2x body copy size = 32px */
    line-height: 1.25;
  }
}

@media (min-width: 56.25em) {
  h2 {
    font-size: 2.25em;
    /* 2.25x body copy size = 36px */
    line-height: 1.25;
  }
}

h3 {
  font-size: 1.375em;
  /* 1.375x body copy size = 22px */
  line-height: 1.13636364;
  /* 25px / 22px */
}

@media (min-width: 43.75em) {
  h3 {
    font-size: 1.5em;
    /* 1.5x body copy size = 24px */
    line-height: 1.25;
  }
}

@media (min-width: 56.25em) {
  h3 {
    font-size: 1.75em;
    /* 1.75x body copy size = 28px */
    line-height: 1.25;
  }
}

h4 {
  font-size: 1.125em;
  /* 1.125x body copy size = 18px */
  line-height: 1.11111111;
}

@media (min-width: 43.75em) {
  h4 {
    line-height: 1.22222222;
    /* (22px / 18px */
  }
}

blockquote {
  font-size: 1em;
  /* 20px / 16px */
  line-height: 1.25;
  /* 25px / 20px */
}

@media (min-width: 43.75em) {
  blockquote {
    font-size: 1em;
    /* 24px / 16px = */
    line-height: 1.375;
    /* equivalent to 20px */
  }
}

body {
	font-family: 'Ubuntu', sans-serif;
	background: #bfb3a6;
	color: #333;
}

a {
	color: #5172ae;
}

a:visited {
	color: #444F61;
}

a.external {
	color: #68ae51;
}

a.external:visited {
	color: #4b6144;
}

a.broken {
	color: #ae5151;
}

a.broken::visited {
	color: #ae5151;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Volkhov', serif;
	font-weight: bold;
	letter-spacing: 0.07em;
	margin: 0.8em 0;
	position: relative;
}

h2 {
	border-bottom: 1px solid rgba(255, 123, 80, 0.5);
}

h4,
h5,
h6 {
	margin: 0.4em 0;
}

p,
blockquote,
pre {
	position: relative;
	font-weight: normal;
	letter-spacing: 0.05em;
	padding: 0.4em 0;
}

article p {
	text-align: justify;
	/*text-indent: 1em;*/
}

pre, code {
	font-family: 'Ubuntu Mono', 'Courier New', monospace;
}

p code {
	background: #f4f2f1;
	padding: 0.15em 0.5em;
	border-radius: 3px;
}

strong {
	font-weight: 500;
}

em {
	font-style: italic;
}

blockquote, pre {
	box-sizing: border-box;
	margin: 0.8em 0;
	padding: 0.6em 0 0.6em 2em;
}

blockquote {
	border-left: 4px solid #6F5F4F;
	background: #e9e5e2;
	font-style: italic;
}

pre {
	overflow: auto;
	/*max-height: 15.2em;*/
	border-left: 4px solid #6F5F4F;
	background: repeating-linear-gradient(
		to bottom,
		transparent 0,
		transparent 1.4em,
		#f4f2f1 1.4em,
		#f4f2f1 2.8em) 0 -0.7em,
		#eeebea;
}

blockquote em {
	font-style: normal;
}

article ol,
article ul {
	margin-left: 2em;
}

article ul {
	list-style-type: disc;
}

article ol {
	list-style-type: decimal;
}

article li {
	font-weight: normal;
	letter-spacing: 0.05em;
	padding: 0.2em 0;
}

/*
 * Magic link icons
 */

article a::after {
	font-family: 'FontAwesome';
	font-size: 60%;
	vertical-align: middle;
}

/* for links to edit a page */
article a.internal[href*='/e/']::after {
	content: ' \f040'; /* pencil icon */
}

/* for backlink list pages */
article a.internal[href$='.links']::after {
	content: ' \f0c1'; /* chainlinks icon */
}

/* for email links */
article a[href^='mailto:']::after {
	content: ' \f003'; /* envelope icon */
}

/* for links to external websites */
article a.external::after {
	content: ' \f08e'; /* arrow icon */
}

/* for DOI links */
article a.external.doi::after {
	content: ' \f05a'; /* info icon */
}

/* for links to external pdf files */
article a.external[href$='.pdf']::after {
	content: ' \f1c1';
}

/* for links to external spreadsheet files */
article a.external[href$='.xls']::after,
article a.external[href$='.xlsx']::after,
article a.external[href$='.ods']::after,
article a.external[href$='.csv']::after {
	content: ' \f1c3';
}

/* for links to external word processor files */
article a.external[href$='.doc']::after,
article a.external[href$='.docx']::after,
article a.external[href$='.odf']::after,
article a.external[href$='.rtf']::after {
	content: ' \f1c2';
}

/* for links to external slideshow files */
article a.external[href$='.ppt']::after,
article a.external[href$='.pptx']::after,
article a.external[href$='.ppts']::after,
article a.external[href$='.uop']::after {
	content: ' \f1c4';
}

/* for links to external audio files */
article a.external[href$='.mp3']::after,
article a.external[href$='.m4a']::after,
article a.external[href$='.ogg']::after,
article a.external[href$='.wma']::after,
article a.external[href$='.mid']::after,
article a.external[href$='.wav']::after {
	content: ' \f1c7';
}

/* for links to external video files */
article a.external[href$='.mp4']::after,
article a.external[href$='.avi']::after,
article a.external[href$='.flv']::after,
article a.external[href$='.wmv']::after,
article a.external[href$='.mov']::after,
article a.external[href$='.3gp']::after {
	content: ' \f1c8';
}

/* for links to external image files */
article a.external[href$='.jpg']::after,
article a.external[href$='.jpeg']::after,
article a.external[href$='.png']::after,
article a.external[href$='.gif']::after,
article a.external[href$='.svg']::after,
article a.external[href$='.bmp']::after {
	content: ' \f1c5';
}

/* for links to external code files */
article a.external[href$='.c']::after,
article a.external[href$='.cpp']::after,
article a.external[href$='.h']::after,
article a.external[href$='.tex']::after,
article a.external[href$='.py']::after,
article a.external[href$='.pl']::after,
article a.external[href$='.praat']::after,
article a.external[href$='.rb']::after,
article a.external[href$='.rs']::after,
article a.external[href$='.sh']::after,
article a.external[href$='.java']::after {
	content: ' \f1c9';
}

/* for links to external raw text files */
article a.external[href$='.txt']::after,
article a.external[href$='.md']::after  {
	content: ' \f0f6';
}

/* for links to external archive files */
article a.external[href$='.zip']::after,
article a.external[href$='.gz']::after,
article a.external[href$='.tar']::after,
article a.external[href$='.7z']::after,
article a.external[href$='.bz2']::after,
article a.external[href$='.rar']::after {
	content: ' \f1c6';
}

a.internal img {
	margin-left: 0.2em;
	margin-bottom: -3px;
}

header {
	background: #483D39;
	text-align: center;
	padding: 40px 0;
	box-shadow: 0 0 200px 100px rgba(72, 61, 57, 0.5); 
}

header h1 {
	display: inline-block;
	margin: 0 1em;
}

header h1 a {
	color: #eee;
	text-shadow:
		0px 1px #444F61,
		0px 2px #444F61,
		1px 3px #444F61,
		1px 4px #444F61,
		2px 5px #444F61;
	text-decoration: none;
	outline: none;
	transition: color 0.2s ease;
}

header h1::after {
	content: '';
	display: block;
	width: 100%;
	height: 2px;
	margin: 0 auto;
	background: linear-gradient(to right, transparent 0%, #444F61 40%, #444F61 60%, transparent 100%);
}

header h1 a:hover {
	color: #FF7B50;
}

header nav {
	text-align: center;
	font-size: 75%;
	color: #ccc;
	margin-top: 1.5em;
	margin-bottom: -2.5em;
}

header nav li {
	display: inline;
	padding: 0 1em;
}

header nav li a,
header nav li a:visited {
	color: #ccc;
}

footer > p {
	text-align: center;
	font-size: 75%;
	color: #666;
	margin-bottom: 80px;
}

footer > p a.internal img {
	width: 12px;
	height: 12px;
	vertical-align: top;
}

footer nav {
	box-sizing: border-box;
	margin: 0 auto;
	width: 700px;
	text-align: center;
	font-size: 75%;
	background: #483D39;
	color: #ccc;
	padding: 0.5em;
	padding-bottom: 3em;
}

footer nav li {
	display: inline;
	padding: 0 1em;
}

footer nav li a,
footer nav li a:visited {
	color: #ccc;
}

article {
	box-sizing: border-box;
	background: #eee;
	max-width: 700px;
	margin: 0 auto;
	padding: 3em;
}

/*
 * Floating anchors for sections
 */

a.partial {
	font-size: 0;
	text-decoration: none;
	display: inline-block;
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -7px;
	opacity: 0.5;
	transition: opacity 0.2s ease;
}

a.partial:hover {
	opacity: 1.0;
}

h2 a.partial::before,
h3 a.partial::before,
h4 a.partial::before {
	font-family: 'FontAwesome';
	content: '\f13d'; /* anchor icon */
	font-weight: normal;
	font-size: 14px;
	margin-left: -2em;
}

/*
 * Decorators on blockquotes and code blocks
 */

blockquote::after, pre::after {
	font-family: 'FontAwesome';
	color: #d4ccc4;
	display: block;
	font-size: 32px;
	position: absolute;
	bottom: -4px;
	right: -4px;
	font-style: normal;
	pointer-events: none;
}

blockquote::after {
	content: '\f10e'; /* a quotation marks icon */
}

pre::after {
	/*content: '\f121'; /* an angle brackets icon */
}

hr {
	display: block;
	width: 100%;
	height: 2px;
	border-radius: 1px;
	background: linear-gradient(to right,
		#999 0%,
		#888 30%,
		#888 70%,
		#999 100%);
	margin: 0 auto 1.5em auto;
	border: 0;
}

@media print {
	header {
		box-shadow: none;
	}
	header h1 a {
		text-shadow: none;
		color: #333;
	}
	header h1::after {
		display: none;
	}
	blockquote::after, pre::after {
		display: none;
	}
	blockquote, pre {
		border-left-color: #999;
	}
	header nav,
	footer nav {
		display: none;
	}
}
